<p id="welcome_text">Yes, emacs does rock. And here are some episodes to prove
  it. Follow me on <a href="http://twitter.com/#!/emacsrocks">@emacsrocks</a>
  and/or subscribe to the <a href="/atom.xml">feed</a> for more.</p>

<div class="episode_list">
  <ul>
  <% Episodes.all_normal.each do |episode| %>
    <li>
      <a href="<%= episode.link %>">
        @emacsrocks
        <span>;; <%= episode.title %></span>
        <p>"<%= episode.name %>"</p>
      </a>
    </li>
  <% end %>
  </ul>
</div>

<div style="clear: both"></div>

<h2 id="special_series_heading">Extending Emacs</h2>

<p>
  Join me and <a href="http://twitter.com/cjno">@cjno</a> in this special
  edition Emacs Rocks series where we extend emacs with a minor-mode for the
  <a href="http://busterjs.org">Buster.JS</a> testing framework.
</p>

<div class="episode_list">
  <ul>
  <% Episodes.all_extending.each do |episode| %>
    <li>
      <a href="<%= episode.link %>">
        extending emacs
        <span>;; <%= episode.title %></span>
        <% episode.commits.each do |commit| %>
          <p><%= commit[:msg] %></p>
        <% end %>
      </a>
    </li>
  <% end %>
  </ul>
</div>

<div style="clear: both"></div>

<div id="footer"></div>
